#call-to-action {
	display: block;
	margin: 10em auto;
	max-width: 500px;
	background-color: var(--blue);
	border-radius: 12px;
	padding: 4rem 2rem;
	overflow: hidden;
}

#call-to-action .action-text{
	text-align: center;
	padding: 0 5%;
}

#call-to-action .action-text h2 {
	color: var(--white);
}

#call-to-action .action-text p {
	color: var(--white);
}

/* hentet fra https://www.sanwebe.com/2014/08/css-html-forms-designs. Modifisert i ettertid */ 
.form-style-1 {
    display: block;
	margin: 10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
}

.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 3rem 0 0 0;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	padding: 1rem 0;
	outline: none;	
	border-bottom: 2px solid var(--white);
	background-color: var(--blue);
	color: var(--white);
}

::placeholder {
	color: var(--white);
}

.form-style-1 input[type=placeholder] {
	color: var(--white);
}

.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	box-shadow: 0 0 8px var(--blue);
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: var(--white);
	padding: 12px 20px;
	border: none;
    font-size: 1.6rem;
    border-radius: 8px;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: var(--red);
	color: var(--white);
	cursor: pointer;
	box-shadow:none;
}

@media only screen and (max-width: 768px) {
	.call-img{
        display: none;
    }
    #call-to-wrap{
        display: block;
        margin: 0 auto;
    }
}