#call-to-action {
	margin-bottom: 18em;
}

#call-to-action .action-text{
	text-align: center;
	padding: 0 5%;
}

/* hentet fra https://www.sanwebe.com/2014/08/css-html-forms-designs. Modifisert i ettertid */ 
.form-style-1 {
    display: block;
	margin: 10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
}

.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
    margin: 16px 0 0 0;
}

.form-style-1 label{
	margin: 0 0 3px 0;
	padding: 0px;
	display: block;
	font-size: 1.6rem;
}

.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
	border:1px solid var(--blue);
	padding: 12px 20px;
	transition: all 0.30s ease-in-out;
	outline: none;	
    border-radius: 8px;
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
	box-shadow: 0 0 8px var(--blue);
	border: 1px solid var(--blue);
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: var(--blue);
	padding: 12px 20px;
	border: none;
    color: var(--white);
    font-size: 1.6rem;
    border-radius: 8px;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: var(--blue);
	box-shadow:none;
}
.form-style-1 .required{
	color: var(--red);
}