#forsidebilde {
    height: 100vh;
    min-height: 100vh;
}

#forsidebilde p{
    color: var(--white);
}

.forside-heart{
    font-size: 3rem;
    color: var(--red);
}

#forsidebilde .img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
     url(../../assets/img/header-bilde.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

#forsidebilde .header-text {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid; 
    grid-auto-flow: row;
    justify-items: center;
    text-align: center;
    gap: 2rem;
}

/* knapper */
.forside-wrap{
    display: grid;
    grid-template-columns: 16rem 16rem;
    gap: 2rem;
    justify-items: center;
}

#forsidebilde #btn-forside1 {
    background-color: var(--blue);
    border: 3px solid var(--blue)
}
#forsidebilde #btn-forside2 {
    background-color: var(--red);
    border: 3px solid var(--red)
}

#forsidebilde .btn-forside {
    /* knappen i header og nyhets seksjonene */
    font-size: 1.6rem;
    display: block;
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
    width: 10em;
    line-height: 5rem;
    text-align: center;
    transition: color 0.5s;
}

/*Hover effects*/
#forsidebilde #btn-forside1:hover {
    color: var(--blue);
    background-color: transparent;
    border: 3px solid var(--blue)
}
#forsidebilde #btn-forside2:hover {
    color: var(--red);
    background-color: transparent;
    border: 3px solid var(--red)
}

/* ---- Phone size - 425px ----- */
@media only screen and (max-width: 425px) {
    #forsidebilde .btn-outline {
        font-size: 1.2rem;
        line-height: 3rem;
        width: 10em;
        margin: 0 auto;
        margin-top: 2.4em;
        padding: 8px 0;
        font-size: 1.6rem;
    }

}

/* ---- Phone size - 375px ----- */
@media only screen and (max-width: 375px) {
    .forside-wrap{
        grid-template-columns: 16rem;
    }

}