#forsidebilde {
    position: relative;
}

#forsidebilde img {
    width: 100%;
    height: 80em;
    object-fit: cover;
} 

#forsidebilde .header-text {
    position: absolute;
    top: 28%;
    left: 13%;
    width: 45em;
}

/* knapper */
#forsidebilde .btn-outline { /* knappen i header og nyhets seksjonene */
    font-size: 1.6rem;
    display: block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    width: 10em;
    line-height: 5rem;
    text-align: center;
    margin-top: 2em;
    transition: color 0.5s;
}

#forsidebilde .btn-outline:hover {
    color: #00577F;
    background-color: white;
}