#forsidebilde {
    position: relative;
    height: 100vh;
    min-height: 100vh;
}

#forsidebilde .img {
    background-image: url(../../assets/img/header-bilde.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}

#forsidebilde .header-text {
    position: absolute;
    top: 28em;
    left: 8%;
    width: 50em;
}

/* knapper */
#forsidebilde .btn-outline {
    /* knappen i header og nyhets seksjonene */
    font-size: 1.6rem;
    display: block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    width: 10em;
    line-height: 5rem;
    text-align: center;
    margin-top: 2em;
    transition: color 0.5s;
}

#forsidebilde .btn-outline:hover {
    color: #00577F;
    background-color: white;
}

/* ----- Laptop size - 1024px ------ */
@media only screen and (max-width: 1024px) {
    #forsidebilde {
        min-height: 800px
    }

    #forsidebilde .img {
        background-image: url(../../assets/img/header-bilde-1200px.jpg);
    }

    #forsidebilde .header-text {
        top: 26em;
        left: 5%;
        width: 40em;
    }

}

/* ----- Tablet size - 768px ----- */
@media only screen and (max-width: 768px) {
    #forsidebilde {
        min-height: 500px;
    }

    #forsidebilde .img {
        background-image: url(../../assets/img/header-bilde-768px.jpg);
    }

    #forsidebilde .header-text {
        top: 28em;
        width: 26em;
    }

}

/* ---- Phone size - 425px ----- */
@media only screen and (max-width: 425px) {
    #forsidebilde {
        min-height: 630px;
    }

    #forsidebilde .img {
        background-image: url(../../assets/img/header-bilde-425px.jpg);
    }

    #forsidebilde .header-text {
        top: 54em;
        width: 80%;
        text-align: center;
        left: 10%;
    }

    #forsidebilde .btn-outline {
        font-size: 1.2rem;
        line-height: 3rem;
        width: 10em;
        margin: 0 auto;
        margin-top: 2.4em;
        padding: 8px 0;
        font-size: 1.6rem;
    }

    #forside .btn-outline {
        text-align: center;
    }

}