#kunder {
    max-width: 1700px;
    display: block;
}

.kunde-container {
    margin: 0 auto;
    max-width: 1400px;
    height: 550px;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kunde-tekst {
    text-align: center;
    padding-bottom: 14px;
}

.kunde-tekst h2 {
    margin-bottom: 0.3em;
    letter-spacing: 1.2;
}

.kunde-wrapper {
    display: block;
    margin: 0 auto;
}

.kunde-grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    justify-content: center;
}

.kunde-wrapper li {
    margin: 0;
    opacity: 1;
    padding: 12px 28px;
    list-style-type: none;
    justify-self: center;
}

.kunde-logo img {
    display: block;
    height: 5em;
}

/* ----- 768 - tablet ----- */
@media only screen and (max-width: 768px) {
    #kunder {
        margin-top: 10em;
    }
}