#kunder {
    max-width: 1200px;
    display: block;
    margin: 0 auto 1em;
}

.kunde-container {
    margin: 20em 0 26em 0;
}

.kunde-tekst {
    text-align: center;
    padding-bottom: 14px;
}

.kunde-tekst h2 {
    margin-bottom: 0.3em;
    letter-spacing: 1.2;
}

.kunde-wrapper {
    display: block;
    margin: 0 auto;
}

.kunde-grid {
    display: block;
    max-width: 1700px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
    justify-content: center;
    column-gap: 4em;
    row-gap: 6em;
    margin: 1em auto 12em;
    padding: 0 5%;
}

.kunde-wrapper  {
    padding: 0 5%;
}

.kunde-logo {
    height: 8em;
    justify-self: center;
}

.kunde-logo img {
    height: 100%;
}

/* ----- 768 - tablet ----- *//*
@media only screen and (max-width: 768px) {
    #kunder {
        margin-top: 10em;
    }
}
