#mobil {
    display: grid;
    grid-template-columns: 45% 55%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14em 5% 0;
    /* luft over seksjonen for å dytte den ned fra forsidebilde + en 5% marg på sidene */
}

#mobil .mobil-graphic {
    display: flex;
    justify-content: center;
}

#mobil .mobil-graphic img {
    width: 500px;
    height: 700px;
}

#mobil .mobil-text {
    width: 100%;
}

#mobil .mobil-text h2 {
    font-size: 3.5rem;
    letter-spacing: 1.5px;
    margin-bottom: 1em;
}

#mobil .mobil-text p {
    letter-spacing: 2px;
    font-weight: 500;
    color: #414141;
}

#mobil .underline {
    border-bottom: 4px solid #00577F;
}

/* ----- Laptop size - 1024px ----- */
@media only screen and (max-width: 1024px) {
    #mobil .mobil-text h2 {
        font-size: 2.4rem;
    }

    #mobil .underline {
        border-bottom: 3px solid #00577F;
    }
}

/* ----- Tablet size - 768px ----- */
@media only screen and (max-width: 768px) {
    #mobil {
        grid-template-columns: 1fr 1fr;
        padding: 8em 5% 0;
    }


    #mobil .mobil-graphic img {
        width: 500px;
        height: 100%;
    }

    #mobil .mobil-text h2 {
        font-size: 3.5rem;
    }

    #mobil .mobil-text p {
        font-size: 1.6rem;
        line-height: 1.6em;
    }

    #mobil .mobil-text {
        margin-bottom: 4em;
    }
}

/* ----- Phone size - 425px ----- */
@media only screen and (max-width: 425px) {
    #mobil {
        grid-template-columns: 1fr;
    }

    #mobil .mobil-graphic {
        grid-row-start: 2;
        justify-self: center;
    }

    #mobil .mobil-graphic img {
        width: 100%;
    }


    #mobil .mobil-text h2 {
        font-size: 3rem;
    }

    #mobil .mobil-text p {
        font-size: 1.4rem;
        line-height: 1.4em;
    }
}

/* ----- Phone size - 375px ----- */
@media only screen and (max-width: 375px) {
    #mobil .mobil-text h2 {
        font-size: 3rem;
        line-height: 4rem;
    }

    #mobil .mobil-text p {
        font-size: 1.2rem;
    }
}