/* Top tekst */
.top-info {
    max-width: 800px;
    margin: 8em 0 10em 5%;
    display: block;
}

.top-info-container {}

/* Trinn */
.trinn {
    max-width: 1700px;
}

.trinn-artikkel {
    max-width: 40em;
    overflow: hidden;
    margin: 0 0 10em 0;
}

.trinn-artikkel h3 {
    color: #00577F;
}

.trinn-grid {
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Produkt */
.produkt {
    max-width: 1700px;
    margin-bottom: 10em;
}

.produkt-grid {
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40em, 1fr));
    gap: 5em;
}

.produkt-bilder {}

.produkt-bilder img {
    height: 40em;
}

.produkt-beskrivelse {
    align-self: center;
}