main {
    margin: 0 auto;
    margin-top: 10em;
    display: block;
}

/* Title */
#title {
    padding: 0 5%;
    max-width: 1700px;
    margin: 10em 0 5em;
}

#title h2 {
    font-size: 4rem;
}

/* Trinn */
.trinn {
    max-width: 1700px;
}

.trinn-artikkel {
    overflow: hidden;
    margin: 0 0 10em 0;
    max-width: 35em;
    justify-self: center;
}

.trinn-artikkel h3 {
    color: #00577F;
    font-size: 6rem;
}

.trinn-grid {
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 40px;
}

/* Produkt */
.produkt {
    max-width: 1700px;
    padding: 0 5%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10em;
}

.produkt h3 {
    color: var(--blue);
    margin-top: 1.4em;
}

.produkt p {
    margin-bottom: 20px;
    line-height: 1.8;
}

.produkt-grid {
    display: grid;
    gap: 5em;
}

.produkt-bilder {
    height: 60em;
    max-height: 60em;
    margin-bottom: 10em;
}

.produkt-bilder img {
    height: 100%
}

.produkt-beskrivelse {
    max-width: 1700px;
    columns: 2;
    gap: 60px;
}


/* culture */
.produkt-bilder-culture {
    height: 60em;
    max-height: 60em;
    display: grid;
    justify-content: center;
}

.produkt-bilder-culture img {
    height: 100%
}


/* ----- LATPTOP ------ */
@media only screen and (max-width: 10240px) {
    .produkt-bilder {
        height: 50em;
        max-height: 50em;
    }

    .trinn-grid {
        gap: 20px;
    }
}

/* ----- TABLET ------ */
@media only screen and (max-width: 768px) {
    .produkt-bilder {
        height: 30em;
        max-height: 30em;
        display: grid;
        justify-content: center;
    }

    .produkt-bilder-culture {
        height: 50em;
        max-height: 50em;
    }

    .produkt-beskrivelse {
        columns: 1;
    }

    .trinn-artikkel h3 {
        text-align: center;
    }
}

/* ----- PHONE ------ */
@media only screen and (max-width: 514px) {
    .produkt-bilder {
        height: 20em;
        max-height: 20em;
    }

    .produkt-bilder-culture {
        display: grid;
        justify-content: center;
    }
}

/* ----- SMALL PHONE ------ */
@media only screen and (max-width: 320px) {
    .produkt-bilder {
        height: 14em;
        max-height: 14em;
    }
}

