main {
    margin: 0 auto;
    margin-top: 10em;
    display: block;
}

/* Title */
#title {
    padding: 0 5%;
    max-width: 1700px;
    margin: 10em 0 5em;
}

#title h2 {
    font-size: 4rem;
}

/* Trinn */
#trinn {
    text-align: center;
    
}

#trinn h2{
    margin-bottom: 2rem;
}

.trinn-artikkel {
    overflow: hidden;
    max-width: 25em;
    justify-self: center;

    text-align: center;
}

.trinn-artikkel h3 {
    color: var(--white);
    font-size: 6rem;
}

.trinn-artikkel p {
    color: var(--white);
}

.trinn-grid {
    padding: 3rem 0;
    display: grid;
    grid-auto-flow: column;
    gap: 40px;
    align-items: center;

    max-width: 120rem;
    background-color: var(--blue);
    border-radius: 12px;
    margin: 0 auto;
}

/*Arrow icon*/
.fa-chevron-right{
    font-size: 6rem;
    color: var(--white);
}


/* Produkt */
.produkt {
    max-width: 1700px;
    padding: 0 5%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10em;
}

.produkt h3 {
    color: var(--blue);
    margin-top: 1.4em;
}

.produkt p {
    margin-bottom: 20px;
    line-height: 1.8;
}

.produkt-grid {
    display: grid;
    gap: 5em;
}

.produkt-bilder {
    height: 60em;
    max-height: 60em;
    margin-bottom: 10em;
}

.produkt-bilder img {
    height: 100%
}

.produkt-beskrivelse {
    max-width: 1700px;
    columns: 2;
    gap: 60px;
}


/* culture */
.produkt-bilder-culture {
    height: 60em;
    max-height: 60em;
    display: grid;
    justify-content: center;
}

.produkt-bilder-culture img {
    height: 100%
}


/* ----- LATPTOP ------ */
@media only screen and (max-width: 10240px) {
    .produkt-bilder {
        height: 50em;
        max-height: 50em;
    }

    .trinn-grid {
        gap: 20px;
    }
}

/* ----- TABLET ------ */
@media only screen and (max-width: 768px) {
    .produkt-bilder {
        height: 30em;
        max-height: 30em;
        display: grid;
        justify-content: center;
    }

    .produkt-bilder-culture {
        height: 50em;
        max-height: 50em;
    }

    .produkt-beskrivelse {
        columns: 1;
    }

    .trinn-artikkel h3 {
        text-align: center;
    }
}

/* ----- PHONE ------ */
@media only screen and (max-width: 514px) {
    .produkt-bilder {
        height: 20em;
        max-height: 20em;
    }

    .produkt-bilder-culture {
        display: grid;
        justify-content: center;
    }
}

/* ----- SMALL PHONE ------ */
@media only screen and (max-width: 320px) {
    .produkt-bilder {
        height: 14em;
        max-height: 14em;
    }
}

