#footer {
    background-color: #454545;
    text-align: center;
    padding: 4em 5%; /* 5% marg på sidene */
}

/* social icons */
#footer .social-container {
    margin-bottom: 1em;
}

#footer .social-container a {
    font-size: 3.5rem;
    padding: 5px;
    color: white;
}

#footer .social-container a:hover {
    color: #3F8AD5;
}

/* tekst og lenker */
#footer .info {
    display: inline-flex;
    flex-direction: column;
}

#footer .info p {
    color: white;
    padding-bottom: 7px;
}

#footer .info a {
    padding-bottom: 7px;
}

#footer .info a:hover {
    color: white;
}