:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    width: 100%;
}

/* --- Text ----- */
h1 {
    font-size: 4rem;
    color: white;
}

h2 {
    font-size: 2.6rem;
    color: #3F8AD5;
    text-transform: uppercase;
}

h3 {
    font-size: 2rem;
    color: #3E97E2;
}

p {
    font-size: 1.6rem;
    color: #4F5151;
}

a {
    font-size: 1.6rem;
    color: #3F8AD5;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #00577F;
}