:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

/* --- Text ----- */
h1 {
    font-size: 4rem;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

h2 {
    font-size: 3rem;
    color: #00577F;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

h3 {
    font-size: 2.4rem;
    color: #FFF;
    margin-bottom: 5px;
}

h4 {
    font-size: 1.8rem;
    color: #3391cF;
    margin-bottom: 5px;
}

h5 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 5px;
    font-weight: 300;
}

p {
    font-size: 1.6rem;
    color: #414141;
    line-height: 1.5;
}

li {
    font-size: 1.6rem;
    color: #414141;
}

a {
    font-size: 1.6rem;
    color: #3391cF;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #00577F;
}

/* ----- Tablet size ----- */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }

    h5 {
        font-size: 1.8rem;
    }
}