
header {
    background-color: var(--white);
    min-height: 80px;
    width: 100%;
    padding: 0 5%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    align-content: center;
    display: flex;
    align-content: center;
    z-index: 3;
}


.header-btn{
    text-decoration: none;
    color: var(--white);
    background-color: var(--red);
    border-radius: 10px;

    transition: 0.5s;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 14.5rem;
    height: 5.6rem;
    text-align: center;
    line-height:5.6rem;

    align-self: center;
}

.header-btn:hover {
    color: var(--white)!important;
    background-color: var(--darkred);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
}

.logo {
    font-size: 2em;
    text-decoration: none;

    align-self: center;
}

.logo img {
    margin-top: 10px;
    height: 50px;
}

  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .logo img{
      height: 40px;
    }

    .header-btn{
      width: 9rem;
      height: 5rem;
      line-height:5rem;
    }

  }

  @media screen and (max-width: 350px) {
    .logo img{
      height: 35px;
    }
  }

    @media screen and (max-width: 300px) {
      .logo img{
        height: 30px;
      }

      .header-btn{
        width: 8rem;
        height: 4rem;
        line-height:4rem;
      }
  }