#kontakt {
    text-align: center;
    min-height: 50vh;
    padding: 10em 5% 0;
    background-color: #3F8AD5;
}

#kontakt h2 {
    padding-bottom: 14px;
    color: white;
}

#kontakt h3 {
    color: white;
    padding-bottom: 10px;
}

#kontakt h4 {
    padding-bottom: 10px;
    letter-spacing: 2px;
    color: white;
}

#kontakt p {
    padding-bottom: 10px;
    font-weight: 500;
    color: white;
}

#kontakt a {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    color: white;
}

#kontakt a:hover {
    color: #00577F;
}

#kontakt .kontakt-grid {
    margin-top: 6em;

    display: grid;
    grid-template-columns: 32.5% 32.5%;
    justify-content: center;
}

#kontakt .kontakt-grid img {
    height: 200px;
    border-radius: 50%;
    margin-bottom: 2em;
}

/* ----- Tablet size ----- */
@media only screen and (max-width: 768px) {
    #kontakt .kontakt-grid {
        grid-template-columns: 1fr;
        row-gap: 5em;
        margin-bottom: 0em;
    }
}